.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0055ff;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 3rem;
}

.App-header a {
  padding: 6px;
  color: bisque;
  align-items: center;
  align-items: flex-end;
}
.App-body {
  min-height: 80vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
