.navbar {
    background-color: #0d4968;
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    color: white;
}
.navbar a {
    padding: 20px;
}
.navbar a.sign-up{
    position: absolute;
    right: 0px;
}

.header {
    background-color: #0d4968;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 0px 32px; 
}
.header_link {
    text-decoration: none;
    color: white;
}
.header_link:hover {
    color: #FAEDB1;
}

.footer {
    background-color: #0d4968;
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 0px 32px; 
}