.body {
    display: flex;
    background-color: #1295D8;
    justify-content: center;
    align-items: center;
    padding: 32px
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
}


/* ------------------------HOME----------------------*/
.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 26.6rem;
    padding: 24px 64px 32px 64px;
    background-color: #FFB511;
    border-radius: 20px;
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.input:focus{
    outline: none;
}