.body {
    display: flex;
    flex-direction: column;
    background-color: #1295D8;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.link {
    color: white;
}
.link:hover {
    color: #E2BF41;
}


/* ------------------------HOME----------------------*/
.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 26.6rem;
    padding: 24px 64px 32px 64px;
    background-color: #FFB511;
    border-radius: 20px;
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.input:focus{
    outline: none;
}
.submit_button {
    border-radius: 4px;
    background-color: #1295D8;
    border: none;
    padding: 8px 16px;
}
.submit_button:hover {
    transform: scale(1.1);
}
.submit_button:focus {
    outline: none;
}