.body {
    display: flex;
    background-color: #1295D8;
    justify-content: center;
    align-items: center;
    padding: 32px
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
}


/* ------------------------HOME----------------------*/
